/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/
/dist/
ui/dist/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html

# PostgreBase data and migrations
pb_data/
pb_migrations/
pb_public/

# Binaries
/pb
/pb.exe
/postgrebase
/postgrebase.exe

# Build artifacts
/bin/
*.tgz

# Local environment variables
.env
.env.local

# Node modules
node_modules/

# Development database
*.db
